<header class="masthead">
  <h1 class="masthead-heading">Tweetful</h1>
  <p class="masthead-intro">Making The Internet a Little More Thoughtful</p>
</header>

<section class="info">    
  <header>
    <h2>Peter Lonestar</h2>
    <h3>Founder</h3>
  </header>
  <p>
    Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum.
  </p>
</section>

<section class="info">   
  <header>
    <h2>Bill Billerson</h2>
    <h3>CFO</h3>
  </header>
  <p>
    Blah blah blah blah blah
  </p>
</section>

<section class="info">   
  <header>
    <h2>Lenka Zajic</h2>
    <h3>CTO</h3>
  </header>
  <p>
    Blah blah blah blah blah
  </p>
</section>

<footer>
  Contact us: <span>admin@tweetful.io
</footer>
