<header class="masthead">
  <h1 class="masthead-heading">Tweetful</h1>
  <p class="masthead-intro">Making The Internet a Little More Thoughtful</p>
</header>

<section class="info">    
  <header>
    <h2>About Tweetful</h2>
  </header>
  <p>
    This a site that I created as part of the Thinkful course. It is a simple Twitter-like application. My goal is to have this site look and function as
    cleanly and effectively as possible.
  </p>
</section>

<section class="info">   
  <header>
    <h2>What Makes Us Different</h2>
  </header>
  <p>
    Blah blah blah blah blah
  </p>
</section>

<section class="info">   
  <header>
    <h2>Company History</h2>
  </header>
  <p>
    Blah blah blah blah blah
  </p>
</section>

<footer>
  Contact us: <span>admin@tweetful.io
</footer>
